* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: white;
}

.wrapper {
  display: flex;
  flex-direction: row;
}
.menu-button {
  display: none;
}

.sidebar {
  display: none;
  /* Additional styling for the sidebar */
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #333;
  padding-top: 20px;
  color: white;
  z-index: 1000;
  transition: left 0.3s;
}

.sidebar.visible {
  display: block; /* Show sidebar when visible class is added */
}

.sidebar .btn ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar .btn ul li {
  padding: 10px 20px;
  font-size: 18px;
  border-bottom: 1px solid #555;
  transition: background-color 0.3s;
}

.sidebar .btn ul li:last-child {
  border-bottom: none;
}

.sidebar .btn ul li a {
  color: white;
  text-decoration: none;
}

.sidebar .btn ul li a:hover {
  background-color: #555;
}

.dashboard {
  border: 0.125rem;
  border-radius: 0 20px 20px 0;
  background-color: rgb(87, 81, 121, 0.1);
  width: 25rem;
  height: 48.4rem;
}

.dashboard .logo img {
  width: 18.75rem;
}

.dashboard .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2.5rem;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons ul {
  list-style-type: none;
}

.buttons ul li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons ul li a {
  color: rgba(0, 0, 0, 0.5);
  font-family: Poppins, var(--default-font-family);
  font-size: 1.875rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px;
  border-radius: 0.313rem 0.313rem 0.313rem 0.313rem;
  margin-bottom: 1.875rem;
  width: 15.625rem;
  height: 2.188rem;
  padding-top: 0.313rem;
  text-align: center;
}

.sub-body {
  margin-left: 0.313rem;
  position: relative;
  width: 70.625rem;
  height: 48.4rem;
  background: url(/images/bg.png) no-repeat center;
  background-size: cover;
  z-index: 1;
  border-radius: 1.25rem 1.25rem 1.25rem 1.25rem;
  overflow: visible auto;
}

.sub-body h1 {
  margin-top: 0.625rem;
  text-align: center;
  color: rgba(251, 251, 251, 0.9);
  font-family: Poppins, var(--default-font-family);
  font-size: 5rem;
  font-weight: 700;
  line-height: 150px;
  white-space: nowrap;
  z-index: 7;
  text-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 0.188rem rgba(0, 0, 0, 0);
}

.offer ul {
  margin-top: 6.25rem;
}

.sub-body .offer ul li {
  text-align: center;
  color: rgb(251, 251, 251);
  font-family: Poppins, var(--default-font-family);
  font-size: 3.125rem;
  font-weight: 500;
  text-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 0.188rem rgba(0, 0, 0, 0);
}

.sub-body h2 {
  margin-top: 17.5rem;
  text-align: center;
  color: rgb(251, 251, 251);
  font-family: Poppins, var(--default-font-family);
  font-size: 1.875rem;
  font-weight: 500;
  text-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 0.188rem rgba(0, 0, 0, 0);
}

@media screen and (max-width: 390px) {
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Poppins", sans-serif;
  }

  .wrapper {
      flex-direction: column;
      align-items: center;
  }

  .menu-button {
      display: block;
      margin: 20px;
      font-size: 20px;
      cursor: pointer;
  }

  .sidebar.visible {
      display: block;
  }

  .dashboard {
      display: none;
  }

  .sub-body {
      width: calc(100vw - 40px);
      height: auto;
      padding: 10px;
      margin: 5px;
  }

  .sub-body h1 {
      font-size: 1.8rem;
  }

  .sub-body .offer ul li {
      font-size: 1.9rem;
  }

  .sub-body h2 {
      font-size: 1.5rem;
  }
}
