* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: white;
  height: auto;
}

.wrapper {
  display: flex;
  flex-direction: row;
}

.menu-button {
  display: none;
}

.sidebar {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #333;
  padding-top: 20px;
  color: white;
  z-index: 1000;
  transition: left 0.3s;
}

.sidebar.visible {
  display: block;
}

.sidebar .btn ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar .btn ul li {
  padding: 10px 20px;
  font-size: 18px;
  border-bottom: 1px solid #555;
  transition: background-color 0.3s;
}

.sidebar .btn ul li:last-child {
  border-bottom: none;
}

.sidebar .btn ul li a {
  color: white;
  text-decoration: none;
}

.sidebar .btn ul li a:hover {
  background-color: #555;
}

.dashboard {
  border: 0.125rem;
  border-radius: 0 1.25rem 1.25rem 0;
  background-color: rgb(87, 81, 121, 0.1);
  width: 25rem;
  height: 48.4rem;
}

.dashboard .logo img {
  width: 18.75rem;
}

.dashboard .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2.5rem;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons ul {
  list-style-type: none;
}

.buttons ul li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttons ul li a {
  color: rgba(0, 0, 0, 0.5);
  font-family: Poppins, var(--default-font-family);
  font-size: 1.875rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  border: 1px;
  border-radius: 0.313rem 0.313rem 0.313rem 0.313rem;
  margin-bottom: 1.875rem;
  width: 15.625rem;
  height: 2.188rem;
  padding-top: 0.313rem;
  text-align: center;
}
.bg {
  margin-left: 5px;
  position: relative;
  width: 70.625rem;
  height: 37.5rem;
  background: url(/images/bg.png) no-repeat center;
  background-size: cover;
  z-index: 1;
  border-radius: 1.25rem 1.25rem 0 0;
  overflow: visible auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 9.375rem;
  margin: 7.375rem 0 15.625rem 0;
  color: rgba(251, 251, 251, 0.9);
  font-family: Poppins, var(--default-font-family);
  font-size: 5rem;
  font-weight: 700;
  line-height: 9.375rem;
  text-align: left;
  white-space: nowrap;
  z-index: 7;
  text-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.25);
  -webkit-text-stroke: 0.188 rgba(0, 0, 0, 0);
}

.sub-header {
  position: relative;
  width: 31.25rem;
  height: 8.5rem;
  color: #ffffff;
  font-family: Poppins, var(--default-font-family);
  font-size: 0.938rem;
  font-weight: 500;
  line-height: 1.875rem;
  text-align: center;
  text-overflow: initial;
  letter-spacing: 1px;
  z-index: 5;
  overflow: hidden;
  text-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
}

.text {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(87, 81, 121, 0.1);
  border-radius: 0 0 1.25rem 1.25rem;
  height: 11rem;
}

@media screen and (max-width: 390px) {
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Poppins", sans-serif;
  }

  .wrapper {
      flex-direction: column;
      align-items: center;
  }

  .menu-button {
      display: block;
      margin: 20px;
      font-size: 20px;
      cursor: pointer;
  }

  .sidebar.visible {
      display: block;
  }

  .dashboard {
      display: none;
  }

  .sub-body .bg,
  .sub-body .text {
      width: calc(100vw - 40px);
      height: auto;
      padding: 10px;
      margin: 5px;
  }

  .sub-body .bg .header {
      font-size: 2.188rem;
  }

  .sub-body .bg .sub-header {
      font-size: 0.625rem;
  }

  .sub-body .text {
      font-size: 0.625rem;
  }
}
